extends layout.pug
block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Zviel S
        p Full Stack Developer
        .about-bio
          p Hi! Thank you for visiting my site. My name is Zviel, and I have a BSc in Information Systems. I graduated with honors, and until recently I even taught at the academic institution I attended. These days I'm looking for an opportunity to enter the field of web development.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git &amp; GitHub
          li OOP
          li APIs
          li NodeJS
          li Express
          li Pug
          li SQL
          li Java
        h6 Contact Info
        ul
          li 111-222-3333
          li zviel@email.com
        a.btn-link.social-media-btn#linkedin(href='https://linkedin.com', target='_blank') LinkedIn
        a.btn-link.social-media-btn#github(href='https://github.com/zviels', target='_blank') GitHub
        a.btn-link.social-media-btn#twitter(href='https://twitter.com', target='_blank') Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back