extends layout.pug
block content
  article.portfolio-intro
    h1 My Portfolio
    p I created this portfolio site to showcase projects I have built. Along the way I honed my NodeJS and Express skills. Love what you see? Contact me.
  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell 
          a(href=`/projects/${ project.id }`)
            img.thumbnail(src=`${ project.image_urls[0] }`, alt=`${ project.project_name } - Thumbnail`)
            h5 #{ project.project_name }